extends layout

block content
    h1 Classes Nivel 1
    table
        thead
            th Código
            th Title
        tbody
            for item in pagClasses
                tr
                    td  
                        a(href="/classes/id/c"+item.codigo)= item.codigo
                    td
                        a(href="/classes/id/c"+item.codigo)=item.titulo
    a(href=('/'))
        p Voltar ao inicio            