extends layout

block content
  h1 Página Termos Indice
  table
    thead
        tr
            th Termo
            th Código
            th Title
    tbody
        for t in termosInd
            tr
                td=t.termo
                td 
                    a(href="/classes/id/" + t.codigoClasse)= t.idClasse
                td 
                    a(href="/classes/id/" + t.codigoClasse)= t.tituloClasse
  a(href=('/'))
    p Voltar à Home